# VS Stuff
venv/
__pycache__/
*.pyc
.env
.DS_Store

# Data files
iso_docs.jsonl
data/error_scraping.csv
data/iso_docs.jsonl
data/processed_codes.txt
notebook.ipynb
src/processed_codes1.json
temp.py
class_bot.py
