bs4
pdfplumber
requests
playwright
pymongo
langchain-community
langchain
streamlit
langgraph
google-cloud-aiplatform
langchain_google_vertexai
google-genai
fastapi
uvicorn
dotenv
pypdf
PyPDF2
pymongo[srv]